<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="~{plantilla/template :: head}">-->

<head th:replace="~{plantilla/template :: head}">


</head>

<body>
	<header th:replace="~{plantilla/template :: header}"></header>
	<!-- parámetro Titulo -->
	<div class="container">
		<h1 th:text="${titulo}"></h1>
		<!-- Muestra como texto simple -->
		<!-- <p th:text="${productos}"></p> -->
	</div>
	<!-- parámetro Listado -->
	<div class="container" style="min-height: calc(100vh - 170px); padding-bottom: 70px;">
		<a class="btn btn-primary btn-sm" th:href="@{/views/videojuegos/create}" th:text="'Nuevo Videojuego'"
			title="Crear nuevo videojuego..."></a>		
		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">CODIGO</th>
					<th scope="col">NOMBRE</th>
					<th scope="col">CONSOLA</th>
					<th scope="col">GENERO</th>
					<th scope="col">DESCRIPCION</th>
					<th scope="col">STOCK</th>
					<th scope="col">PRECIO</th>
					<th scope="col">HERRAMIENTAS</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr th:each="ent:${videojuegos}">
					<th scope="row" th:text="${ent.id}">1</th>					
					<td th:text="${ent.codigo}"></td>
					<td th:text="${ent.nombre}"></td>
					<td th:text="${ent.consola}"></td>
					<td th:text="${ent.genero}"></td>
					<td th:text="${ent.descripcion}"></td>
					<td th:text="${ent.stock}"></td>
					<td th:text="${ent.precio}"></td>
					<td>
						<a class="btn btn-success btn-sm" th:href="@{/views/videojuegos/edit/}+${ent.id}"
							th:text="'Editar'" title="Editar videojuego..."></a>
						<a class="btn btn-danger btn-sm" th:href="@{/views/videojuegos/delete/}+${ent.id}"
							th:text="'Eliminar'" title="Eliminar videojuego..." onclick="return confirm('Esta seguro que desea eliminar el registro?');"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="~{plantilla/template :: footer}"></footer>
</body>

</html>