<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Videojuegos</title>
    <!-- Incluir CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <!-- Barra de Navegación -->
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <strong><img th:src="@{/images/logo.jpg}" height="50" width="100">BIENVENIDOS A PLAYBOX</strong>
                </a>
                         
        <!-- MENSAJES ALERTS -->
        <div class="alert alert-success alert-dismissable" th:if="${success != null}">
            <label th:text="${success}"></label>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-danger alert-dismissable" th:if="${error != null}">
            <label th:text="${error}"></label>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div class="alert alert-warning alert-dismissable" th:if="${warning != null}">
            <label th:text="${warning}"></label>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div class="alert alert-info alert-dismissable" th:if="${info != null}">
            <label th:text="${info}"></label>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    </header>

    <!-- Contenido principal -->
    <div class="container">
        <!-- Aquí va tu contenido principal -->
    </div>

    <!-- Pie de página -->
    <footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">
        <div class="container">
            <p>Copyright Cibertec LP-II &copy; - 2024</p>
        </div>
    </footer>

    <!-- Incluir JavaScript de Bootstrap y sus dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
