<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="~{plantilla/template :: head}">-->

<head th:replace="~{plantilla/template :: head}">


</head>

<body>
	<header th:replace="~{plantilla/template :: header}"></header>
	<div class="container">
		<h1>BIENVENIDO AL SISTEMA WEB DE PLAYBOX</h1>
		<h2>
			Estimado usuario, en este sistema usted podrá registrar el inventarios de videjuegos que se tiene en nuestra tienda.
			Asi como sacar reportes de nuestros productos. 				
		</h2>
	</div>
	<footer th:replace="~{plantilla/template :: footer}"></footer>
</body>

</html>